*.pyc
*.log
Data/*
Output/*
ttp.egg-info/*
dist/*
build/*
private/*
how to upload to pypi.txt
doc/build/*
doc/make.bat
doc/Makefile
test/pytest/Output/excel_out_test_excel_formatter.xlsx
.pytest_cache/v/cache/nodeids
ttp/ttp_dict_cache.pickle